<div class="footer__container">
  <div ngbDropdown class="footer__drop-up">
    <button
      type="button"
      class="drop-up__btn btn btn-outline-primary"
      id="dropdownConfig"
      ngbDropdownToggle
    >
      Show
    </button>
    <ul ngbDropdownMenu aria-labelledby="dropdownConfig" class="drop-up__list">
      <li><a ngbDropdownItem>Action - 1</a></li>
      <li><a ngbDropdownItem>Another Action</a></li>
      <li><a ngbDropdownItem>Something else is here</a></li>
    </ul>
  </div>
  <div class="footer__block-list">
    <ul class="block-list__list">
      <li class="list__item">
        <a href="" class="item link">Terms of Service </a>
      </li>
      <li class="list__item"><a href="" class="item link">Instagram</a></li>
      <li class="list__item">
        <a href="" class="item link"> Privacy Policy</a>
      </li>
      <li class="list__item"><a href="" class="item link">Facebook</a></li>
    </ul>
  </div>
  <div class="footer__block-invite">
    <span class="block-invite__span-inv">We invite you to join our team.</span>
    <a href="" class="block-invite__link">Apply Now</a>
  </div>
</div>
