<div class="header__container">
  <button class="header__modal-menu_btn" (click)="open()">
    <span> </span><span></span><span></span>
  </button>

  <nav class="header__nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="" class="item__link">Menus</a></li>
      <li class="nav__item">
        <a href="" class="item__link">About & Careers</a>
      </li>
      <li class="nav__item"><a href="" class="item__link">Contact</a></li>
    </ul>
  </nav>
  <div class="header__logo">
    <a href="" class="logo">debonaire</a>
  </div>

  <div class="header__book-app">
    <button class="book-app__btn">
      Book an<br class="btn__br" />
      Appoitment
    </button>
  </div>
</div>
