<div class="modal-menu__block">
  <div class="header__modal-menu offcanvas-header">
    <h5 class="modal-menu__title offcanvas-title">Site menu</h5>
    <button
      type="button"
      class="modal-menu__btn-close btn-close text-reset"
      aria-label="Close"
      (click)="activeOffcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-menu__body offcanvas-body">
    <nav class="modal-menu__nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="item__link">Menus</a></li>
        <li class="nav__item">
          <a href="" class="item__link">About & Careers</a>
        </li>
        <li class="nav__item"><a href="" class="item__link">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
