<section class="service">
  <div class="service__container">
    <h2 class="service__title">Our Services</h2>
    <div class="service__block-img">
      <div class="block-img__cut img-block">
        <img src="assets/imgs/our-service/cut.png" alt="cut" class="cut__img" />
        <span class="cut__span span-img">Cut.</span>
      </div>
      <div class="block-img__color img-block">
        <span class="color__span span-img">Color.</span>
        <img
          src="assets/imgs/our-service/color.png"
          alt="color"
          class="color__img"
        />
      </div>
      <div class="block-img__design img-block">
        <img
          src="assets/imgs/our-service/design.png"
          alt="design"
          class="design__img"
        />
        <span class="design__span span-img">Design.</span>
      </div>
    </div>
    <div class="service__block-name">
      <span class="block-name__span"
        >We create a customized new look for you.</span
      >
      <button class="block-name__btn">See Our Menu</button>
    </div>
    <div class="service__vertical">
      <span class="vertical-span">AND THE MOST IMPORTANT PART</span>
    </div>
  </div>
</section>
