.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header {
  padding-top: 30px;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}
.main {
  padding-top: 70px;
  flex: 1 1 auto;
}
.footer {
}
