<section class="focused">
  <div class="focused__container">
    <div class="focused__img-left">
      <img
        src="assets/imgs/under-hero/girl-black.png"
        alt="girl-black"
        class="img-left__black"
      />
    </div>

    <div class="focused__center-block">
      <h2 class="center-block__title">We’re focused.</h2>
      <p class="center-block__text">
        We provide an exceptional service by only focusing on hair designing.
        Our goal is to provide a different type of experience by using
        responsible products.
      </p>
    </div>
    <div class="focused__img-right">
      <img
        src="assets/imgs/under-hero/flower.png"
        alt="flower"
        class="img-right__flower"
      />
    </div>
  </div>
</section>
