<section class="we-love">
  <div class="we-love__container">
    <img
      class="we-love__img-grey"
      src="assets/imgs/love/girl-grey.png"
      alt="girl-grey"
    />
    <div class="we-love__centr-block">
      <h2 class="centr-text__title">
        We love what we do. We are up to the task.
      </h2>
      <p class="centr-text__text">
        Cuts tailor made for your hair, making it easy for you to recreate your
        look every day. Debonaire team, makes you feel happy at ease and work
        with you to make you your most lovely.
      </p>
    </div>
    <div class="we-love__img-block">
      <img
        src="assets/imgs/love/hair-dryer.png"
        alt="hair-dryer"
        class="img-block"
      />
    </div>
  </div>
</section>
